

@media only screen and (min-width: 1200px) and (orientation: landscape) {

    #header {
        font-size: 2.51vw;
    }

    #input_container {
        width: calc(100% - 60.06vw);
        height: 6.5vh;
        border-radius: 1vw;
    }

    #user_input {
        font-size: 1.2vw;
        padding-left: 2.28vw;
        border-top-left-radius: 1vw;
        border-bottom-left-radius: 1vw;
    }

    #submit {
        width: 10.15vw;
        font-size: 1.37vw;
        border-top-right-radius: 1vw;
        border-bottom-right-radius: 1vw;
    }

}
