

@media only screen and (min-width: 768px) and (orientation: portrait) {

    #header {
        font-size: 3.81vw;
    }

    #input_container {
        border-radius: 2vw;
    }

    #user_input {
        font-size: 2.5vw;
        padding-left: 2.58vw;
        border-top-left-radius: 2vw;
        border-bottom-left-radius: 2vw;
    }

    #submit {
        border-top-right-radius: 2vw;
        border-bottom-right-radius: 2vw;
    }

    #info_container {
        padding: 2.62vh 0;
        margin: 0 5.34vw;
        width: calc(100% - 10.68vw);
        border-radius: 3vw;
        top: 20vh;
        row-gap: 0.1vh;
        letter-spacing: 0.5vw;
    }

    #sub_header {
        font-size: 1.5vw;
    }

    #value {
        font-size: 3vw;
    }

}
