
.parent {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 0;
}

.bottom_container, .top_container{
    width : inherit;
}

.top_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 35%;
    background-image: url("images/pattern-bg-desktop.png");
    background-size: cover;
    padding-top: 3.63vh;
 
}

.bottom_container {
    height: 65%;
}

.header {
    color: white;
    font-size: 7vw;
    margin-bottom: 3.40vh;
}

.input_container {
    display: flex;
    flex-direction: row;
    width: calc(100% - 10.68vw);
    height: 5.9vh;
    border-radius: 3vw;
    background-color: white;
    box-shadow: -2px -1px 7px -2px ;
}

.user_input {
    height: 100%;
    width: 77.24vw;
    background-color: transparent;
    color: black;
    font-size: 4.37vw;
    border-style: none;
    border-top-left-radius: 3vw;
    border-bottom-left-radius: 3vw;
    padding-left: 5.58vw;
    cursor: pointer;
}

.submit {
    display: flex;
    font-size: 4.37vw;
    justify-content: center;
    align-items: center;
    background-color: black;
    width: 12.15vw;
    height: inherit;
    border-top-right-radius: 3vw;
    border-bottom-right-radius: 3vw;
    color: white;
    border-style: none;
}

.life {
    display: none;
}


/* Animations*/
.user_input:focus {
    outline: none;
}

.bottom_container{
    height: 100%;
    width: 100%;
    background-color: aqua;
}


.map{
    height: inherit;
    width: inherit;
}



